body{
    margin:0;
    width:100%;
     background-color:0055aa;
    font-family:Helvetica;
    color:white;
    font-size:16px;
    text-align:center;
    background:url("https://plus.unsplash.com/premium_photo-1661290260843-1c3924e92f42?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80") no-repeat center center fixed;
   background-size: cover;
  }
  h1{
    font-family: Sans-serif;
     
  }
  p{
    border-top: 1px dotted black;
  font-style:oblique;
  padding-top:10px;
  
  }
  form{
    padding: 20px 10px 20px 10px;
    background-color: #014455;
    opacity: 0.9;
    text-align:left;
   width: 60vw;
    max-width: 500px;
    min-width: 300px;  
    margin: 0 auto 30px ;
    
  }
  label{
    display:block;
    padding-top: 10px;
  }