h1,h2 {
    text-align:center;
  }
  img{
    display:block;
  }
  
  #img-div{
      height:auto;
      margin:auto;
    }
  #image{
    margin:auto;
    max-width:100%;
  }
  figcaption{
  font-family:Verdana;
  }
  *{
    font-family:sans-serif;
  }